body {
  overscroll-behavior: none;

  font-family: var(--font-family-sans);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color-text);

  background: var(--color-background);
}

::selection {
  color: var(--color-background);
  background: #FFEC27;
}

a {
  color: #29ADFF;
  text-decoration: none;
}

main {
  isolation: isolate;
}

* {
  -webkit-tap-highlight-color: transparent;
}

pre {
  font-family: var(--font-family-mono);
}

fieldset {
  display: flex;
  gap: var(--gutter);

  &.group {
    gap: unset;

    & > *:not(:last-child),
    & > *:not(:last-child) .button {
      border-right: 0 !important;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    input + input,
    input + .input,
    input + .button,
    input + .switcher .button,
    .input + input,
    .input + .input,
    .input + .button,
    .input + .switcher .button,
    .button + input,
    .button + .input,
    .button:not([hidden]) + .button,
    .button + .switcher .button,
    .switcher + input,
    .switcher + .input,
    .switcher + .button,
    .switcher + .switcher .button {
      border-left-style: dashed;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

.disc svg {
  fill: var(--color, var(--color-text));
  path { stroke: none; }
}

.disc-small svg { transform: scale(0.5); }
.disc-medium svg { transform: scale(1); }
.disc-large svg { transform: scale(1.5); }
