.button {
  @include easing(120ms, opacity);
  @include no-select;

  display: flex;
  padding: var(--gutter-internal);
  overflow: hidden;

  font: inherit;
  color: var(--color-text);
  cursor: pointer;

  align-items: center;
  justify-content: center;

  background: var(--color-background);
  border: 1px solid currentcolor;
  border-radius: var(--round);
  appearance: none;

  &[disabled] {
    pointer-events: none;
    opacity: 0.3;
  }

  &[hidden] {
    display: none;
  }

  &.is-waiting {
    cursor: wait;
  }

  &__icon {
    animation: button 120ms ease-out;
  }

  &.is-waiting &__icon {
    position: relative;
    color: transparent;
    animation: button 120ms ease-out;

    &::before {
      @include loader(var(--gutter), 2px, var(--color-text));
    }
  }

  &__icon + &__text:not(:empty) {
    margin-left: var(--gutter-internal);
  }
}
