.splashscreen {
  position: fixed;
  z-index: 3;
  inset: 0;

  display: grid;

  place-items: center;

  background: var(--color-background);

  &__content {
    display: flex;
    margin-top: 5rem;

    flex-direction: column;
    gap: calc(var(--gutter) * 1.5);
    align-items: center;
  }

  &__icon {
    fill: var(--color-text);
    width: 6rem;
    animation: bounce-spin 900ms infinite ease;
  }

  &__text {
    text-align: center;
  }
}
